@{
    Layout = null;
}

@using System.Web.Optimization;
@using Budget.WebApp.Extensions;
@using Budget.Resources;
@model Budget.WebApp.Models.LoginModel

@Scripts.Render("~/bundles/scripts/login")
@Styles.Render("~/bundles/content/app")

<div class="flex center">
    <div class="vertical login-form">
        <h2 class="login-title">@Text.LogIntoApplication</h2>
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            @Html.SubmitForm(Text.SignIn)
            @Html.ValidationSummary(true)
        }
    </div>
</div>