@using System.Web.Optimization;
@using Budget.Resources;
@using System.Threading;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>
    <script>
        if (!String.prototype.format) {
            String.prototype.format = function () {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function (match, number) {
                    return args[number];
                });
            };
        }
    </script>

    @Styles.Render("~/bundles/content/layout")
    @Scripts.Render("~/bundles/scripts/layout")

    @RenderSection("styles", false)
    @RenderSection("scripts", false)
</head>
<body lang="@Thread.CurrentThread.CurrentCulture">
    <div class="navbar">
        <div class="right align-center">
            @string.Format(Text.Welcome, SessionHelper.User.Name)
            <span id="expand-menu" class="material-icons icon">expand_more</span>
        </div>
    </div>
    <div id="menu-container">
        <ul id="menu">
            <li>@Html.ActionLink("Log off", MVC.Login.ActionNames.Logout, MVC.Login.Name)</li>
        </ul>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
</body>
</html>