@using System.Web.Optimization

@section styles{
    @Styles.Render("~/content/calendar")
}

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ui")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/calendar")
}

<div id="add-receipt">

</div>

<div id="calendar">

</div>